#stream {
    /*margin: 1em;*/
    width: 750px;
    height: 562px;
}

body {
    background: #D6D6D6;
    min-width: 1100px;
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#logo {
    /*width: 120px;*/
    height: 100px;
    margin-right: 40px;
}

#uni-title {
    width: 600px;
}

#robotLogo {
    /*width: 100px*/
    height: 100px;
    margin-left: 40px;
}

.header {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    background: #424242;
}

.header + div {
    margin-top: 2em;
}
.content-body {
    display: flex;
    flex: 1;
}
.central-content {
     flex: 1;
 }

.left-nav, .right-nav {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
}

.left-nav {
    /* put the nav on the left */
    order: -1;
    text-align: center;
}
.header h2 {
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.header h2 + span {
    font-size: 0.8rem;
    color: white;
}

.center {
    text-align: center;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    align-items: center;
    justify-content: center;
}

.left {
    text-align: left;
    margin-left: 0;
    /*margin-right: auto;*/
    align-items: flex-start;
    justify-content: flex-start;
}

.multicolumns {
    text-align: justify;
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    /*-moz-column-rule: 1px solid black;*/
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    /*-webkit-column-rule: 1px solid black;*/
    column-count: 2;
    column-gap: 1em;
    /*column-rule: 1px solid black;*/
}

.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.locations{
    margin: 2px;
    /*margin-left: 3em;*/
    /*margin-right: 1em;*/
    display: block;
    /*align-self: flex-start;*/
    width: 15em;
}
/*.footer{*/
    /*max-height: 250px;*/
/*}*/
#traffic_light {
    width: 70px;
    height: 70px;
}
#clockContainer{
    /*margin-top: 3px;*/
    /*margin-bottom: 3px;*/
}
#clockContainer> .subheader{
    margin-top: 10px;
    margin-bottom: 20px;
}
.subheader {
    line-height: 1.2em;
    font-size: 1.14rem;
    display: block;
    color: rgba(0, 0, 0, 0.6);
}
.flip-clock-wrapper{
    zoom: 0.66;
    -moz-transform: scale(0.66);
    margin-top: -20px;
    margin-bottom: -20px;
}
button {
    background-clip: border-box;
    background-origin: padding-box;
    background: rgb(33, 133, 208) none repeat scroll 0% 0%;
    background-size: auto auto;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-radius: 4px;
    border: 0px none rgb(255, 255, 255);
    box-shadow: rgba(34, 36, 38, 0.15) 0px 0px 0px 0px inset;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 700;
    line-height: 14px;
    margin: 0;
    min-height: 14px;
    outline: rgb(255, 255, 255) none 0;
    overflow: visible;
    padding: 0.78em 1.5em;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    text-shadow: none;
    text-transform: none;
    transition-delay: 0s, 0s, 0s, 0s, 0s;
    transition-duration: 0.1s, 0.1s, 0.1s, 0.1s, 0.1s;
    transition-property: opacity, background-color, color, box-shadow, background;
    transition-timing-function: ease, ease, ease, ease, ease;
    vertical-align: baseline;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;

}
