<?xml version="1.0"?>
<launch>
  <include file="$(find strands_morse)/bham/launch/bham_cs_morse.launch"/>
  <include file="$(find strands_morse)/bham/launch/bham_cs_nav2d.launch"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find open_day_bham)/launch/include/rviz_config.rviz"/>
  <!--Load the rosbridge server to receive the commands from the web browser-->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
    <arg name="port" value="9090"/>
  </include>
  <!--Load the video server to receive the streaming from the robot-->
  <node name="web_video_server" pkg="web_video_server" type="web_video_server" args="-port 8080"/>
</launch>
